@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
body{
    height: 100%;
    margin: 0px;
   
}
content, html{
    height: 100%;
}
/*style-wrapper*/
.wrapper{
    height: 100%;
    margin: 0px;
    
}
/*style-header*/
header{
    display: flex;
    justify-content: space-between;
    margin: 0px;
   
    background-color: #ffffff;
}
h1{
    color: #000000;
    font-size: 14px;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.img-logo{
    
    width: 30px;
    padding: 10px;
}
.titleweb{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 10px 10px;
    padding: 10px 10px;
}
.profile-dropdown{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
margin-right: 20px;
padding: 10px 10px;
}
.notification{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: #97989c;
}
.options{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: #97989c;
}
/*style-content*/
.pcontent{
   display: flex;
   height: 100%;
   background: #f4f4f4;
   margin: 0px;
}
/*style-sidebar*/
.sidebar{
    width: 200px;
    
   background: #000000;
   font-size: 14px;
}
.Diet{
    width: 200px;
    
    margin: 0px;
    margin-top: 50px;
}
.profile {
    width: 200px;
     
    margin: 0px; 
    margin-top: 50px;
}
h5{
    
    color: rgb(109, 105, 105);
    
    margin-top: 0px;
    margin: 20px;
}

.button{
    background: rgb(54, 51, 51);
    color: #fff;
    display: inline-block;
    
    margin: -20px;
    padding: 10px 40px;
    text-align: left;
    width: 120px;
    text-decoration: none;
    border-radius: 50px;
    border-inline-style: solid none;
    font-family: 'Roboto', sans-serif;
}
.items{
    display: inline-block;
    color: #fff;
    width: 120px;
    
    margin: -20px;
    margin-top: 0px;
    padding: 20px 40px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/*style-box1*/
.box1{
   width: 100%;
   height: 100%;
   background: #f4f4f4;
   font-size: 16px;
}
/*style-boxuser*/
.user{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 16px;
    margin-top: 10px;
    background: #f4f4f4;
    font-size: 16px;
}

.lorem{
    font-family: 'Roboto', sans-serif;
    
}
/*style-tabledate*/
.table{
    font-size: 16px;
    margin: 20px;
    margin-top: 0px;
 }
 .date1{
  display:flex;
  
  justify-content: space-around;
  height: 100px;
  background: #ffffff;
  margin: 0px;
  margin-top: -20px;
  
 }
 h6{
   font-size: 16px;
   margin: 0px;
   margin-top: 5px;
 }
 .name{
    width: 20px;
    margin: -40px;
    margin-top: 10px;
 }
 .name1{
    margin: 0px;
    margin-top: 10px;
 }
.name h6{
    font-family: 'Roboto', sans-serif;
   
    color: #999999;
}
    
 .height{
   width: 20px;
    
   margin: 0px;
   margin-top: 10px;
} 
.height1{
   font-family: 'Roboto', sans-serif;
   margin: 0px;
   margin-top: 10px;
}    
.height h6{
    font-family: 'Roboto', sans-serif;
    
    color: #999999;
} 
.bmi{
   width: 90px;
     
   margin: 0px;
   margin-top: 10px;
}
.bmi1{
    margin-right: 30px;
    margin-top: 10px;
}    
.bmi h6{
    font-family: 'Roboto', sans-serif;
    
    color: #999999;
}
.diet{
   width: 100px;
     
   margin: -10px;
   margin-top: 10px;
}
.diet1{
    margin: 0px;
    margin-top: 10px;
}    
.diet h6{
    font-family: 'Roboto', sans-serif;
   
    color: #999999;
}

/*style-boxuser2*/
.user2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    margin: 10px;
    margin-top: 30px;
    background: #f4f4f4;
}

h3{
    
    margin-top: 10px;
    margin-right: 10px;
}
.lorem1 p{
    font-family: 'Roboto', sans-serif;
    margin-left: 700px;
}
.lorem2 p{
    font-family: 'Roboto', sans-serif;
    margin-left: 0px;
}
.lorem3 p{
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
    margin-left: 0px;
    padding: 10px 10px;
}
 /*style-boxdate2*/ 
.date2{
    
    background: #ffffff;
    margin-top: -20px;
}
.paleo{
    border: 1px;
    border-style: none none solid none;
    border-color: #979797;
}
.paleodiet{
    display: flex;
    justify-content: space-between;
}
.paleodiet h2{
    font-family: 'Roboto', sans-serif;
   
    margin: 20px;
    margin-top: 15px;
    color: #000000;
    
}
.paleodiet h3{
    font-family: 'Roboto', sans-serif;
    margin-right: 16px;
    margin-top: 22px;
    color: #000000;
    
}
/*style-boxdays*/ 
.days{
    border: 1px;
    border-style: none none solid none;
    border-color: #979797; 
}
.daysw{
    display: flex;
    justify-content: space-between;
}
.daysw h2{
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    color: #999999;
    font-size: 16px;
    margin-top: 15px;
}
.daysw h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    margin-right: 40px;
    margin-top: 15px;
}
.daysw h4{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 14px;
    margin-right: 50px;
    color: #999999;
    
   
}
.daysw h5{
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 16px;
    color: #000000;
}

/*style-tabledate*/ 
.tabledate{
    width: 100%;
    height: 320px;
    display: flex;
    background: #ffffff;
}
table{
    width: 100%;
    text-align: left;
    margin: 0px;
}
th, td{
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
   padding: 8px 20px;
}
th{
    border: 1px #979797;
    border-style: none none solid none;
    
}
